.bg-danger{
    background: linear-gradient(45deg,darkslategray,red);
}
.bg-primary{
    background: linear-gradient(45deg,darkslategray,blue);
}.bg-secondary{
    background: linear-gradient(45deg,darkslategray,orange);
}.bg-warning{
    background: linear-gradient(45deg,darkslategray,limegreen);
}
.bg-secondary{
    background: linear-gradient(45deg,darkslategray,purple);
}